{% extends "AppBlog/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Articulos</h1> 
    <a href="{% url 'crear_articulo' %}">Crear Articulo</a>


<!--Esto muestra los articulos como una tabla-->
    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Titulo</th>
          <th>Subtitulo</th>
          <th>Cuerpo</th>
          <th>Autor</th>
          <th>Fecha Publicacion</th>
        </tr>
        {% for articulo in object_list %}
        <tr>
          <td>{{ articulo.id }}</td>
          <td>{{ articulo.titulo }}</td>
          <td>{{ articulo.subtitulo }}</td>
          <td>{{ articulo.cuerpo }}</td>
          <td>{{ articulo.autor }}</td>
          <td>{{ articulo.fecha_publicacion }}</td>
          <td>
          <td>  
            <a href={%url 'editar_articulo' articulo.id %}>Editar</a> 
          </td>
          <td>
            <form action="{% url 'eliminar_articulo' articulo.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="eliminar"/>
            </form>
          </td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}


